---
layout: default
---

<p>
    Here's a list of little projects of mine.
</p>

<ul class="links">
    <li>
        <a href="http://joe.gl/ombek" title="My Homepage" class="">
            {% include profile.svg %}
        </a>
    </li>
    <li>
        <a href="http://github.com/glombek" title="My GitHub Profile" class="github">
            {% include github.svg %}
        </a>
    </li>
    <li>
        <a href="http://average-joe.info" title="My Tech Blog, Average Joe" class="">
            {% include knowledge.svg %}
        </a>
    </li>
</ul>

<h2>Recent Labs</h2>
<ul id="projects" class="grid">
</ul>

<!--<h2>GitHub Organisations</h2>
<ul id="orgs" class="grid">
</ul>-->