header a svg {
    width: 20vm;
    width: 20vmin;
    height: 23vm;
    height: 23vmin;
    position: absolute;
    top: 10vm;
    top: 10vmin;
    left: 50%;
    margin-left: 5vm;
    margin-left: 5vmin;
    z-index: 11;
}

header svg.monogram{
    margin-left: 25vm;
    margin-left: 25vmin;
}

header a .icon path, header a:hover .icon path {
    stroke: crimson;
}

a:hover .icon path, a:hover .icon rect {
    fill:white;
}