*, *:before, *:after {
    box-sizing: border-box;
  }
  html {
    height:100%;
  }
  body, html {
    padding: 0;
    margin: 0;
    font-family: $font-default;
    min-height: 100%;
    font-size: 1.1rem;
  }
  
  h1, h2, h3, h4, h5 {
    font-weight:normal;
    font-size: 1.5em;
  }
  
  h1 {
    font-size: 2em;
  }

  a {
    .dev & {
      color: $color-green;
    }
    .explore & {
      color: $color-orange;
    }
  }

  input {
    padding: 0.5rem;
    border: 1px solid $color-orange-dark;
    font-family: $font-default;
    font-size: 1rem;
  }

  button, input[type=button], input[type=submit] {
    background-color: $color-orange;
    color: white;
    border:none;
    font-family: $font-secondary-explore;
    font-size: 1.5em;
    outline: none;
    transition: all ease-in-out 0.2s;

    &:hover, &:focus {
      background-color: $color-orange-light;
      box-shadow: 0.2rem 0.2rem 0px 0px $color-orange-darkest;      
    }

    &:active {
      background-color: $color-orange-lightest; 
    }
  }