$img-dev: url("../img/dev.jpg");
$img-explore: url("../img/explore.jpg");

$font-default: serif;
$font-primary-explore: 'Cabin Sketch', sans-serif;
$font-secondary-explore: 'Reenie Beanie', sans-serif;
$font-primary-dev: 'Zilla Slab Highlight', monospace;
$font-secondary-dev: 'Zilla Slab', monospace;

$color-overlay: rgba(0,0,0,0.5);