$img-dev: url("../img/dev.jpg");
$img-explore: url("../img/explore.jpg");

//$font-default: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
$font-default: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
$font-primary-explore: 'Cabin Sketch', sans-serif;
$font-secondary-explore: 'Reenie Beanie', sans-serif;
$font-primary-dev: 'Zilla Slab Highlight', monospace;
$font-secondary-dev: 'Zilla Slab', monospace;

$color-overlay: rgba(0,0,0,0.5);

$color-purple: #690197;
$color-purple-lightest: #A728DE;
$color-purple-light: #B102FC;
$color-purple-dark: #3C0156;
$color-purple-darkest: #230033;

$color-green: #007A8B;
$color-green-lightest: #22C3D9;
$color-green-light: #01DDFC;
$color-green-dark: #00454F;
$color-green-darkest: #00292F;

$color-orange: #E26D00;
$color-orange-lightest: #FF8D24;
$color-orange-light: #FF7A00;
$color-orange-dark: #813E00;
$color-orange-darkest: #4C2500;