%container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.content {
    @extend %container;
}

.page {
    background-color:white;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1em 10em 0 rgba($color-overlay, 0.9);
    
    .dev & {
        //box-shadow: 0 1em 10em 0 rgba($color-green-darkest, 0.9);
        border-top: 0.5em solid $color-green-darkest;
    }

    .explore & {
        //box-shadow: 0 1em 10em 0 rgba($color-orange-darkest, 0.9);
        border-top: 0.5em solid $color-orange-darkest;
    }
}