.header {
    // &.-explore {
    //     background-image: $img-explore;
    // }
    // &.-dev {
    //     background-image: $img-dev;
    // }
    //background-size: cover;
    @extend %container;
    text-align:right;

    ._nav {
        text-transform: uppercase;
        text-align: center;
        ul {
            list-style: none;
            margin:0;
            padding:0;
        }

        li{
            display: inline-block;
        }
.nav-item {
    &.-current, &:hover {
        
            font-weight: bold;
            
            border: 1px solid currentColor;
            border-left: none;
            border-right: none;

            .dev & {
                color: $color-green-dark;
            }
            .explore & {
                color: $color-orange-dark;
            }
        
    }

        color:inherit;
        text-decoration: none;
    
}
    }
}
