<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="assets/styles/main.css?v=1.0">
</head>

<div class="divisions">
    <div class="_division -dev">
      <!--<h1>browsing<br />log <em>files</em></h1>-->
      <h1>joe.gl/ombek<br /><em>/developer</em></h1>
    </div>
    <div class="_division -explore">
      <!--<h1>building<br />log <em>fires</em></h1>-->
      <h1>Joe Glombek<br /><em>Outdoorsman</em></h1>
    </div>
</div>

<body>
  <!-- <script src="assets/scripts/main.js"></script> -->
</body>
</html>