{% include layout/header.html %}
<div class="divisions">
    <a class="_division -dev" href="/developer">
      <!--<h1>browsing<br />log <em>files</em></h1>-->
      <h1>
          joe.gl/ombek<br /><em>/developer</em>
          <br />
          <i class="far fa-chevron-double-left"></i>
        </h1>
      </a>
    <a class="_division -explore" href="/outdoorsman">
      <!--<h1>building<br />log <em>fires</em></h1>-->
      <h1>
          Joe Glombek<br /><em>Outdoorsman</em>
          {% include svg/arrow.svg %}
        </h1>
      </a>
</div>
Arrow by Alex Muravev from the Noun Project

{% include layout/footer.html %}